ANTHROPIC_API_KEY=ATATT3xFfGF0zIngKaz216Widkm0JTYjW6KAYChhb-m569cLUGg3He4BEPb46t7ank77ZgrPVPrcfu7B4DNtJtHdKmWC8vjcGZCULCSyFsFziVoHhMa5vAIq6V5ItEu5Wtu_sFmB7tZcrexKjhBHEY0ebCFNOGZcrrbILmmGN8LQa5ogJ6u4q7o=4E93BA77
GENERATION_COUNT=5